version: 1.0.{build}

os: Windows Server 2012

image: Visual Studio 2015

init:
  - git config --global core.autocrlf input
  - choco install curl

shallow_clone: true

clone_depth: 1

install:
  - nuget restore CSharpMonad.sln

configuration:
  - Release

build:
  project: CSharpMonad.sln
  verbosity: minimal

after_build:
  - curl --silent ifconfig.io

test: off

artifacts:
  - path: CSharpMonad\lib
    name: dll

deploy:
  - provider: Environment
    name: monad-repo

notifications:
  - provider: Email
    to:
      - dambrisco@gmail.com
    subject: 'Build {{status}}'
    message: "{{message}}, {{commitId}}"
    on_build_success: true
    on_build_failure: true
    on_build_status_changed: true
