version: 1.0.{build}
image: Visual Studio 2015
before_build:
  - nuget restore CSharpMonad.sln
build:
  project: CSharpMonad.sln
  verbosity: minimal
artifacts:
  - path: CSharpMonad/lib
    name: DLL
    type: zip
